<h2>About Us</h2>
<p>Birkdale High School is a Secondary school for Boys aged 11-16. It is located in Southport, Merseyside. We are a prestigious school and our popularity is based upon an excellent academic record and a well ordered, positive learning environment.</p>
<p>We invite you to view this website to see what we are about and also to view our records, such as Ofsted Inspection Reports. Open days and evenings are avaiable for you to visit our school. Please consult our calendar for these dates. Alternatively, please contact us to arrange a time for your visit.</p>